[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rosv"]
	path = rosv
	url = https://github.com/al-obrien/rosv
[submodule "spectralAnomaly"]
	path = spectralAnomaly
	url = https://github.com/al-obrien/spectralanomaly
